<div class="flex w-full min-h-80 gap-4">
  <div class="flex-1 px-8 py-4 border rounded">
    <h1>Input: </h1>
    <%= image_tag url_for(@task.input), class: "w-full" %>
  </div>
  <div class="flex-1 px-8 py-4 border rounded">
    <h1>Output: </h1>
    <%= image_tag url_for(@task.output), class: "w-full" %>
  </div>
</div>