<div class="flex w-full min-h-80 gap-4">
  <div class="flex-1 px-8 py-4 border rounded">
    <h1>Input: </h1>
    <!-- TODO: w/ auto submit -->
    <%= form_with model: @task do |form| %>
      <%= form.file_field :input, accept: 'image/png' %>
      <%= form.submit 'Submit', class: 'mt-4 block px-6 py-2 bg-black text-white rounded cursor-pointer' %>
    <% end %>
  </div>
  <div class="flex-1 px-8 py-4 border rounded">Output: </div>
</div>