<div class="flex w-full min-h-80 gap-4">
  <div class="flex-1 px-8 py-4 border rounded">
    <h1>Input: </h1>
    <%= form_with model: @task, data: { turbo_frame: :task } do |form| %>
      <%= form.file_field :input, accept: 'image/png', data: { controller: "image" } %>
    <% end %>
  </div>
  <div class="flex-1 px-8 py-4 border rounded">Output: </div>
</div>